* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
}

.navbar {
    width: 1440px;
    height: 48px;
    background-color: #000;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar__location__icon {
    display: flex;
    gap: 10px;
    padding: 10px 70px;
}

.navbar__icon {
    color: white;
    font-size: 20px;
}

.navbar__location {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.navbar__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px;
}

.navbar__select {
    width: 71px;
    height: 24px;
    background-color: inherit;
    color: white;
    margin: 10px 60px;
}

.navbar__option {
    color: white;
}

.main__navbar {
    width: 1440px;
    height: 90px;
    margin: auto;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.main__navbar__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 30px 70px;
}

.main__navbar__links {
    display: flex;
    gap: 100px;
    padding: 30px 0px;
}

.main__navbar__link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #00A3FF;
    text-decoration-thickness: 3px; 
}

.main__navbar__link:hover {
    color: red;
}

.main__navbar__search__contact {
    display: flex;
    gap: 30px;
    padding: 25px 0px;
}

.main__navbar__searchInput__searchIcon {
    display: flex;
    position: relative;
}

.main__navbar__searchInput {
    width: 250px;
    height: 38px;
    background: #F5F5F5;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding: 0px 25px;
}

.main__navbar__searchInput:focus {
    color: red;
    background-color: #000;
    font-size: 16px;
}

.main__navbar__searchIcon {
    font-size: 24px;
    position: absolute;
    right: 45px;
    top: 7px;
}

.main__navbar__contactIcon__contactBtn {
    display: flex;
    position: relative;
}

.main__navbar__contactIcon {
    font-size: 18px;
    color: white;
    position: absolute;
    top: 8px;
    left: 7px;
}

.main__navbar__contactBtn {
    width: 156px;
    height: 38px;
    background: #00A3FF;
    border-radius: 10px;
    color: white;
    border: none;
    margin-right: 30px;
}

.main__navbar__contactBtn:hover {
    background-color: #000;
    color: cyan;
    font-size: 14px;
    border: 5px solid cyan;
}

.intro__wrapper {
    width: 1440px;
    height: 500px;
    margin: auto;
    border: 1px solid ;
    display: flex;
}

.intro {
    width: 1228px;
    height: 413px;
    margin: 45px auto;
    border: 1px solid ;
    border-radius: 20px;
    position: relative;
    background-image: url('./images/Landing_page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro__title { 
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    padding: 100px 0px 0px 70px;
}

.intro__text {
    width: 200px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9A9A9A;
    padding: 0px 10px;
    margin-left: 60px;
}

.intro__btn {
    width: 133px;
    height: 41px;
    background: #00A3FF;
    border-radius: 10px;
    border: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 20px 70px;
}

.intro__btn:hover {
    background-color: white;
    color: #00A3FF;
    border: 5px solid #00A3FF;
}

.catalogs__wrapper {
    width: 1440px;
    height: 280px;
    margin: auto;
    border: 1px solid ;
}

.catalogs {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.catalogs__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 0px 40px;
}

.catalogs__directions {
    display: flex;
    gap: 10px;
}

.catalogs__direction {
    width: 46px;
    height: 46px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogs__direction:hover {
    background-color: #000;
    color: white;
    transition: all 0.5s ease;
}

.catalogs__direction__left {
    font-size: 24px;
}

.catalogs__direction__right {
    font-size: 24px;
}

.catalogs__cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
}

.catalogs__card {
    width: 170px;
    height: 145px;
    border: 2px solid;
}

.catalogs__card:hover {
    background-color: #00A3FF;
    color: white;
    transition: all 0.5s ease;
}

.catalogs__img {
    width: 56px;
    height: 56px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
}

.catalogs__card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.catalogs__card__text:hover {
    color: white;
}

.products__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 1440px;
  height: 1950px;
  margin: auto;
  border: 1px solid ;
}

.product__card {
  width: 300px;
  height: 280px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  padding-top: 20px;
}

.discount__btn {
    width: 200px;
    height: 56px;
    background: #00A3FF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    margin: 0px 20px;
}

.discount__btn:hover {
    background-color: white;
    color: #00A3FF;
    border: 5px solid #00A3FF;
}

.top__products__wrapper {
    width: 1440px;
    height: auto;
    border: 1px solid;
    margin: auto;
}

.top__products {
    width: 1232px;
    height: 450px;
    margin: auto;
}

.top__products__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 20px 0px;
}

.top__products__cards {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.top__products__card {
    width: 270px;
    height: 330px;
}

.top__products__product__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.top__products__price__btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}

.top__products__discount__price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
}

.top__products__price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #000000;
}

.top__products__btn {
    width: 133px;
    height: 30px;
    background: #00A3FF;
    border-radius: 5px;
    border: none;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.top__products__btn:hover {
    background-color: white;
    color: #00A3FF;
    border: 1px solid #00A3FF;
}